@{
    ViewData["Title"] = "Account";
}
<script src="../js/ChangePassword.js"></script>
<link rel="stylesheet" href="/css/Account.css" media="screen">
<section class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-grey-5 u-section-1" id="carousel_ce3a">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-container-style u-expanded-width u-group u-radius-50 u-shape-round u-white u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <h1 class="u-text u-text-default u-title u-text-1" spellcheck="false"> Update your account information</h1>
                <div class="u-form u-form-1">
                    <form  class="u-clearfix u-form-spacing-30 u-form-vertical u-inner-form" source="email" name="form" style="padding: 0px;">
                        <input type="hidden" id="siteId" name="siteId" value="1531132">
                        <input type="hidden" id="pageId" name="pageId" value="1538034">
                        <div class="u-form-group u-form-name">
                            <label for="name-d268" class="u-label">User name : <span>@ViewBag.Account.Username</span></label>
                            <input type="hidden" placeholder="User_name" id="name-d268" name="Username" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-30 u-white" required="" spellcheck="false" value="@ViewBag.Account.Username">
                        </div>
                        <div class="u-form-email u-form-group">
                            <label for="email-d268" class="u-label">Old Password</label>
                            <input type="password" placeholder="Enter your password" id="email-d268" name="Password" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-30 u-white" required="" spellcheck="false" maxlength="30">
                        </div>
                        <div class="u-form-group u-form-group-3">
                            <label for="text-fe90" class="u-label">New Password</label>
                            <input type="password" placeholder="Enter new password" id="text-fe90" name="newPassword" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-30 u-white" >
                            <input type="hidden" name="Email" value="@ViewBag.Account.Email" />
                            <input type="hidden" name="AccountTypeId" value="@ViewBag.Account.AccountTypeId" />
                            <input type="hidden" name="AccountId" value="@ViewBag.Account.Id" />
                        </div>
                        <div class="u-form-group u-form-group-4">
                            <label for="text-a2a2" class="u-label">Confirm new password</label>
                            <input type="password" placeholder="Enter again new password" id="text-a2a2" name="confirmPassword" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-30 u-white" >
                        </div>
                        <div class="u-align-left u-form-group u-form-submit">
                            <a href="#" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-1 u-hover-palette-1-dark-3 u-radius-30 u-btn-1">Submit</a>
                            <input type="submit" value="submit" class="u-form-control-hidden" onclick="Validate()">
                        </div>
                        @*<div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>*@
                        @*<div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>*@
                        <input type="hidden" value="" name="recaptchaResponse" >
                    </form>
                </div>
                <div class="u-container-style u-group u-group-2">
                    <div class="u-container-layout">
                        <img class="u-expanded-width u-image u-image-default u-image-1" src="/images/JLogo.png" alt="" data-image-width="500" data-image-height="500">
                        <p class="u-align-center u-large-text u-text u-text-variant u-text-2" spellcheck="false">
                            SE1512<br>
                            <span style="font-style: italic;"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

